
body{
    background-color: rgb(78, 233, 104);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: rgb(24, 37, 4);
    }
}
#contenedorDeProductos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
    width: 80%;
    margin: auto;
    height: 100%;
    justify-content: center;
    gap: 40px;
    padding-top: 200px;
}
#card{
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    img{
        width: 250px;
    }
    p{
        display: flex;
        justify-content: center;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(28, 221, 28);
        margin: auto;
    }
}